@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 21pt;
    text-align: center;
}

#list {
    margin-top: 16pt;
}

#list * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item {
    padding: 16pt;
    margin-bottom: 8pt;
    border-radius: 8pt;
}

.item .body {
    font-size: 17pt;
    overflow-wrap: break-word;
    hyphens: manual;
}

input[type='text'] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    padding: 16pt;
    margin-bottom: 8pt;
    border-radius: 8pt;
    border-style: solid;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    background: none;
    border: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

#delete-all {
    margin-top: 16pt;
    margin-bottom: 32pt;
    padding-right: 16pt;
}

.done {
    text-decoration: line-through;
}

.primary {
    color: #625bc5;
}

.remove {
    color: red;
}

.faded {
    opacity: 0.5;
}

.green {
    color: green;
}
