html {
    margin: 0;
    padding: 16pt;
    font-family: sans-serif;
}

body {
    width: 45%;
    margin: auto;
}

@media (max-width: 1200px) {
    body {
        width: 75%;
    }
}

@media (max-width: 800px) {
    body {
        width: 100%;
    }
}

h1 {
    font-size: 42pt;
    text-align: center;
}

#list {
    margin-bottom: 32pt;
}

#list * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item {
    padding: 16pt;
    background: #f3f3f3;
    margin-bottom: 8pt;
    border-radius: 8pt;
}

.flex {
    display: flex;
    gap: 4pt;
}

.flex span {
    font-size: 17pt;
    overflow-wrap: break-word;
    hyphens: manual;
}

input {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    padding: 16pt;
    margin-bottom: 8pt;
    border-radius: 8pt;
    border-style: solid;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    background: none;
    border: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.done {
    text-decoration: line-through;
}

.primary {
    color: blue;
}

.remove {
    color: red;
}

.faded {
    opacity: 0.5;
}
